doctype html
html
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-26365513-4')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-26365513-4');
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Roudokuka examples
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    section.hero.is-primary
      .hero-body
        .container
          h1.title
            | roudokuka examples
          h2.subtitle
            | roudokuka is simple web reader, it's working with browser feature only.
            br
            | "Roudokuka" == "朗読家" == "Reader"

    section.section
      .container
        .content
          .title How to use roudokuka?
          p You must load roudokuka somehow. if it's done, roudokuka is ready to use!!
          h2 jsDelivr CDN:
          p Add ↓ tag to somewhere.
          pre
            = '<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/roudokuka/docs/roudokuka.min.js"></script>'
          h2 npm:
          p roudokuka is published on npm.&nbsp;
            a(href='https://www.npmjs.com/package/roudokuka' target='_blank')
              | https://www.npmjs.com/package/roudokuka
          p install with npm or yarn or something, and add line like this ↓ to somewhere.
          pre
            = "import Roudokuka from 'roudokuka'"

    section.section
      .container
        .title Examples
        article.message.is-info
          .message-header
            p How to try examples &nbsp;&nbsp;
              b
                i.fa.fa-exclamation-triangle
                | &nbsp;Examples will play sound
          .message-body
            | Click "Start" button of embedded CodePen.
        .content
          .title simple usage
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="OjPgLY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - simple usage ">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/OjPgLY/">
            roudokuka examples - simple usage </a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          hr
          .title with utterance options
          p you can check more options ↓ site.<br>
            a(href='https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisUtterance' target='_blank')
              | SpeechSynthesisUtterance - Web APIs | MDN
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="gyWdgd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - with utterance options">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/gyWdgd/">
            roudokuka examples - with utterance options</a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          hr
          .title with global utterance options
          p
            | you can set global utterance options. options priority is
            b  "line's utterance" > "global utterance" > "roudokuka's default" > "browser's default"
            | .
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="YMVOJO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - with global utterance options">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/YMVOJO/">
            roudokuka examples - with global utterance options</a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          hr
          .title custom options with onend event
          p check with your browser console. roudokuka is return "speechSynthesisEvent" and "end line info" to callback of onend event.
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="LvyJBQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - custom options with onend event">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/LvyJBQ/">
            roudokuka examples - custom options with onend event</a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          hr
          .title loop with onLibrettoEnd event
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="VNbGpy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - loop with onLibrettoEnd event">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/VNbGpy/">
            roudokuka examples - loop with onLibrettoEnd event</a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          hr
          .title reader will stupid when reader count multiples of 3 or say 3
          <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="snowsunny" data-slug-hash="xedaYL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="roudokuka examples - reader will stupid when reader count multiples of 3 or say 3">
            <span>See the Pen <a href="https://codepen.io/snowsunny/pen/xedaYL/">
            roudokuka examples - reader will stupid when reader count multiples of 3 or say 3</a> by snowsunny (<a href="https://codepen.io/snowsunny">@snowsunny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
