doctype html
html
  head
    title Roudokuka examples
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    h1 Roudokuka examples
    script(type='text/javascript').
      $(() => {
        let roudokuka = new Roudokuka(['cat cat cat', 'dog dog dog'])
        roudokuka.onReady().then(() => {
          roudokuka.start(1)
        })
      })
